
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Retrieve city ID information for hotels</h1>
<br /> 
<form method="post">
    <label>Enter City Name</label>
    <input type="text" class="form-control" name="p" /> 
<br />
    <button class="btn btn-btn-outline-primary">Get City ID</button>
</form>