@model List<GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS MediatR List</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Guide Name</th>
        <th>Description</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr> 
            <td>@item.GuideId</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><a href="/Admin/GuideMediatR/GetGuides/@item.GuideId" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="#" class="btn btn-outline-dark">Update</a></td>
        </tr>
    }
</table>
<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-outline-info">Add New Guide</a>
